<div class="container">
    <div *ngIf="phase">
        <div class="req-phase">
            <form #form="ngForm" (ngSubmit)="onFormSubmit(form , phase)">
                <div class="reqs">
                    <label for="name" id="name">Document Name:</label>
                    <input type="text" name="name" [ngModel] = "documentFormObject.documentName" required>
                    <label for="name" id="name">Requirement 1:</label>
                    <input type="text" name="req1" [ngModel] = "documentFormObject.req1" required>
                    <label for="name" id="name">Requirement 2:</label>
                    <input type="text" name="req2" [ngModel] = "documentFormObject.req2" required>
                    <label for="name" id="name">Requirement 3:</label>
                    <input type="text" name="req3" [ngModel] = "documentFormObject.req3" required>
                    <label for="name" id="name">Requirement 4:</label>
                    <input type="text" name="req4" [ngModel] = "documentFormObject.req4" required>
                    <label for="img">Select image:</label>
                    <input type="file" name="file" (change)="onUpload($event)" accept="image/*">
                    <img #img src="" alt="file">
                </div>
                <div class="buttons">
                    <button type="submit" [disabled]="!form.valid" [ngClass]="{'disabled':!form.valid}">Save</button>
                    <button type="button" (click) = "onCancel()">Cancel</button>
                </div>
            </form>
        </div>    
    </div>
    <div *ngIf="!phase">
        <div class="req-phase">
            <form #initForm="ngForm" (ngSubmit)="onFormSubmit(initForm , phase)">
                <div class="reqs">
                    <label for="name" id="name">Project Title:</label>
                    <input type="text" name="initName" [ngModel] = "documentFormObject.documentName" required>
                    <label for="name" id="name">Project Start Date:</label>
                    <input type="text" name="date1" [ngModel] = "documentFormObject.date1" required>
                    <label for="name" id="name">Project End Date:</label>
                    <input type="text" name="date2" [ngModel] = "documentFormObject.date2" required>
                    <label for="name" id="name">Project Objectives:</label>
                    <input type="text" name="initReq2" [ngModel] = "documentFormObject.req1" required>
                    <label for="name" id="name">Project Manager:</label>
                    <input type="text" name="initReq3" [ngModel] = "documentFormObject.req2" required>
                    <label for="name" id="name">Budget Information:</label>
                    <input type="text" name="initReq4" [ngModel] = "documentFormObject.req3" required>
                    <label for="name" id="name">Project Scope Statements:</label>
                    <input type="text" name="initReq5" [ngModel] = "documentFormObject.req4" required>
                </div>
                <div class="buttons">
                    <button type="submit" [disabled]="!initForm.valid" [ngClass]="{'disabled':!initForm.valid}">Save</button>
                    <button type="button" (click) = "onCancel()">Cancel</button>
                </div>
            </form>
        </div>    
    </div>
    
</div>
