.container {
    width: 90%;
    margin: auto;
}
.reqs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.reqs label , .reqs input{
    margin-bottom: 3px;
}

.buttons {
    display: flex;
    float: right;
    margin-top: 10px;
}
.buttons button {
    margin-left: 5px;
    width: 8em;
    height: 2em;
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
    border-radius: 7px;
}
button:focus {
    background-color: rgb(87, 87, 87);
}
.disabled {
    opacity: .7;
}
img {
    width: 9vw;
}
