<div class="container">
    <div class="req-phase">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="reqs">
                <label for="name" id="name">Document Name:</label>
                <input type="text" name="name" [ngModel] = "documentName" required>
                <label for="name" id="name">Requirement 1:</label>
                <input type="text" name="req1" [ngModel] = "req1" required>
                <label for="name" id="name">Requirement 2:</label>
                <input type="text" name="req2" [ngModel] = "req2" required>
                <label for="name" id="name">Requirement 3:</label>
                <input type="text" name="req3" [ngModel] = "req3" required>
                <label for="name" id="name">Requirement 4:</label>
                <input type="text" name="req4" [ngModel] = "req4" required>
                <label for="img">Select image:</label>
                <input type="file" name="file" (change)="onUpload($event)" [ngModel] = "file" accept="image/*">
                <img #img src="" alt="file">
            </div>
            <div class="buttons">
                <button type="submit" [disabled]="!form.valid" [ngClass]="{'disabled':!form.valid}">Save</button>
                <button type="button" (click) = "onCancel()">Cancel</button>
            </div>
        </form>
    </div>    
</div>
