/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    outline: none;
}
.active{
    background-color: rgb(78, 52, 78);
}


input {
    outline: 0;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: solid 2px rgb(193, 197, 199);
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }
  input:focus{
    border-color: rgb(0, 0, 0);
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }

button{
    outline: none;
    border: none;
}
button:hover {
    opacity: 0.8;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.p-requirement {
    min-width: fit-content;
}
ul li {
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}