<div class="container">
    <div class="reqs">
        <div class="req-info">
            <p>Document Name:</p>
            <p>{{document.documentName}}</p>
        </div>
        <div class="req-info">
            <p>Requirement 1:</p>
            <p>{{document.req1}}</p>
        </div>
        <div class="req-info">
            <p>Requirement 2:</p>
            <p>{{document.req2}}</p>
        </div>
        <div class="req-info">
            <p>Requirement 3:</p>
            <p>{{document.req3}}</p>
        </div>
        <div class="req-info">
            <p>Requirement 4:</p>
            <p>{{document.req4}}</p>
        </div>
        <div class="req-info">
            <p style="margin-top: 5em;">File:</p>
            <img #img src="" alt="file">
        </div>
    </div>
    <div class="buttons">
        <button (click)="onEdit()">Edit</button>
        <button (click)="onDelete()">Delete</button>
    </div>
</div>